.dashboardCards{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1rem;

    .cards{
        background-color: $SecondaryColor;
        height: 120px;
        padding: 1rem;
        border-radius: 5px;

        .qntCard{
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100%;
            font-size: 3rem;
        }
    }
}