.dashboardCards{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1rem;
    margin-bottom: 1rem;
    
    .cards{
        background-color: $SecondaryColor;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 120px;
        padding: 1rem;
        border-radius: 5px;
        box-shadow: 0px 0px 8px #000000a6;

        .qntCard{
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100%;
            font-size: 2rem;
        }
    }
}

.itemsView{
    display: flex;
    gap: 1rem;
    align-items: start;

    .cTable{
        thead{
            box-shadow: 0px 0px 8px #000000a6;
            border-radius: 5px;
        }
    }
}

@media (max-width: 600px) {
    .dashboardCards{
        display: flex;
        flex-direction: column;
    }

    .itemsView{
        flex-direction: column;
        
        .cTable{
            margin-top: 2rem;
        }
    }
}

@media (max-width: 917px) {
    .dashboardCards{
        grid-template-columns: 1fr 1fr;

    }

    .itemsView{
        .cTable{
            thead{
                font-size: .9rem;
            }
        }
    }
}

