.dashboardCards{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1rem;
    margin-bottom: 1rem;
    
    .cards{
        background-color: $SecondaryColor;
        height: 120px;
        padding: 1rem;
        border-radius: 5px;
        box-shadow: 0px 0px 8px #000000a6;

        .qntCard{
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100%;
            font-size: 3rem;
        }
    }
}

.itemsView{
    display: flex;
    gap: 1rem;
}