.cHeader {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cHeader h2 {
  margin: 0;
}
.cHeader nav {
  display: none;
}
.cHeader nav a {
  color: white;
  text-decoration: none;
  margin-left: 1rem;
}
.cHeader .navDrop button i {
  font-size: 2rem;
}
.cHeader .navDrop ul {
  border: none;
  text-align: right;
  padding: 1rem;
  line-height: 2rem;
}
.cHeader .navDrop ul a {
  color: #fff;
  text-decoration: none;
  font-size: 1.2rem;
}

main {
  margin-top: 2rem;
  min-height: 85vh;
}

.cFooter {
  margin-top: 1rem;
}

@media (min-width: 576px) {
  .cHeader nav {
    display: flex;
  }
  .cHeader .navDrop {
    display: none;
  }
}
.title {
  font-weight: 100;
  font-size: 3rem;
  padding-bottom: 1.5rem;
}

.divForm {
  overflow-x: auto;
}

.pages {
  border-bottom: 1px solid white;
  display: flex;
}
.pages a {
  color: white;
  text-decoration: none;
  padding: 0rem 1rem 1rem 1rem;
}
.pages a:active {
  border-bottom: 2px solid white;
}

.cTable {
  width: 100%;
  height: 100%;
  border-collapse: collapse;
  overflow: hidden;
}
.cTable thead tr th {
  text-align: center;
}
.cTable th {
  background-color: #1C1A1D;
}
.cTable th, .cTable td {
  text-align: center;
  padding: 1rem;
}
.cTable .tdActions {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.cTableAll {
  min-width: 800px;
}

.dashboardCards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 1rem;
  margin-bottom: 1rem;
}
.dashboardCards .cards {
  background-color: #1C1A1D;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 120px;
  padding: 1rem;
  border-radius: 5px;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.6509803922);
}
.dashboardCards .cards .qntCard {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  font-size: 2rem;
}

.itemsView {
  display: flex;
  gap: 1rem;
  align-items: start;
}
.itemsView .cTable thead {
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.6509803922);
  border-radius: 5px;
}

@media (max-width: 600px) {
  .dashboardCards {
    display: flex;
    flex-direction: column;
  }
  .itemsView {
    flex-direction: column;
  }
  .itemsView .cTable {
    margin-top: 2rem;
  }
}
@media (max-width: 917px) {
  .dashboardCards {
    grid-template-columns: 1fr 1fr;
  }
  .itemsView .cTable thead {
    font-size: 0.9rem;
  }
}
.product {
  display: flex;
  gap: 1rem;
  margin-bottom: 2rem;
  align-items: center;
}
.product h2 {
  font-weight: 100;
  font-size: 2.5rem;
  margin: 0;
  padding-right: 1rem;
}
.product .productsBtn {
  display: flex;
  gap: 1rem;
}

.infosCard {
  display: flex;
  gap: 2rem;
  margin-bottom: 2rem;
}
.infosCard div {
  background-color: #1C1A1D;
  padding: 1rem 1.5rem;
  border-radius: 5px;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.6509803922);
}

.descriptionProduct {
  margin-bottom: 2rem;
}

.updateDate {
  display: flex;
  gap: 2rem;
}

@media (max-width: 700px) {
  .product {
    flex-direction: column;
  }
  .infosCard {
    flex-direction: column;
    text-align: center;
  }
  .updateDate {
    flex-direction: column;
  }
}
h2 {
  font-weight: 100;
  margin-bottom: 2rem;
}

.cForm {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 10%;
}
.cForm .cform__inputs {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-areas: "item1 item2 item3 item4" "textAreaInput textAreaInput textAreaInput textAreaInput";
  gap: 1.5rem;
  margin-bottom: 2rem;
  width: 100%;
}
.cForm .cform__inputs .inputCards {
  display: flex;
  flex-direction: column;
}
.cForm .cform__inputs .inputCards input, .cForm .cform__inputs .inputCards select, .cForm .cform__inputs .inputCards textarea {
  background-color: #1C1A1D;
  color: white;
  border: none;
  padding: 10px;
  width: 100%;
  border-radius: 5px;
  margin-top: 5px;
}
.cForm .cform__inputs .input1 {
  grid-area: item1;
}
.cForm .cform__inputs .input2 {
  grid-area: item2;
}
.cForm .cform__inputs .input3 {
  grid-area: item3;
}
.cForm .cform__inputs .input4 {
  grid-area: item4;
}
.cForm .cform__inputs .textAreaInput {
  grid-area: textAreaInput;
}

@media (max-width: 700px) {
  .cForm .cform__inputs {
    display: flex;
    flex-direction: column;
  }
}
.deleteItem .links {
  display: flex;
  gap: 1rem;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
* p {
  padding: 0;
  margin: 0;
}

body {
  background-color: #2C2C2D;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  padding: 1rem 1.5rem;
  color: white;
}

.btn {
  padding: 5px 8px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  border: 1px solid transparent;
  font-size: 1rem;
  color: black;
}

.btn_view {
  background-color: #5BA7FD;
}
.btn_view:hover {
  background-color: #353535;
  color: #5BA7FD;
  border: 1px solid #5BA7FD;
}

.btn_update {
  background-color: #FEFEFE;
}
.btn_update:hover {
  background-color: #353535;
  color: #FEFEFE;
  border: 1px solid #FEFEFE;
}

.btn_del {
  background-color: #FF5258;
  color: white;
}
.btn_del:hover {
  background-color: #353535;
  color: #FF5258;
  border: 1px solid #FF5258;
}

/*# sourceMappingURL=style.css.map */
