.cHeader{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    h2{
        margin: 0;
        
    }

    nav{
        display: none;

        a{
            color: white;
            text-decoration: none;
            margin-left: 1rem;
        }
    }

    .navDrop{
        
        button{
            i{
                font-size: 2rem;
            }
        }

        ul{
            border: none;
            text-align: right;
            padding: 1rem;
            line-height: 2rem;

            a{
                color: #fff;
                text-decoration: none;
                font-size: 1.2rem;
            }
        }
    }

}

main{
    margin-top: 2rem;
    min-height: 85vh;
}

.cFooter{
    margin-top: 1rem;
}

@media (min-width: 576px) {
    .cHeader{
        
        nav{
            display: flex;
        }

        .navDrop{
            display: none;
        }
    }

}